
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator{
    width: 350px;
    height: max-content;
    background-color: #2196f3;
    border-radius: 20px;
    padding: 3rem;
    margin: 1rem;
}

.output{
    height: max-content;
    min-height: 100px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: right;
    align-items:center;
    padding: 0 1rem;
}
.output h1{
    font-size: 3rem;
    word-break: break-all;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,50px);
    color: white;
    gap: .5rem;
}

.buttons button{
    background-color: #1564c0;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
.equal{
    grid-column: span 1;
}

@media (max-width: 450px) {
    #calculator{
        padding: 2rem;
    }
}